.cards-product {
	flex: 1 1 auto;
	min-width: 300px;
	&__body {
	position: relative;
	max-width: 1044px;
	display: flex;
	flex-wrap: wrap;
	row-gap: 16px;
	margin: 0px -8px 0px 0px;
	@media (max-width:767.98px) {
			justify-content: center;
			margin: 0px ;
		}
	}
}	

.card {
	padding: 0px 8px;
	flex: 0 1 33.333%;
	min-width: 300px;
	@media (max-width: 1261.98px) {
		min-width: 25%;
	}
	@media (max-width: 1046.98px) {
		min-width: 50%;
		}
		@media (max-width:767.98px) {
			min-width: 75%;
			align-items: center;
		}
		@media (max-width: 679.98px) {
			min-width: 50%;
	}
		@media (max-width: 479.98px) {
			flex: 1 1 auto;
			padding: 0px;
			min-width: 275px;
		}
&__body {
	display: flex;
	flex-direction: column;
	overflow-wrap: break-word;
	position: relative;
	background: #FFFEFB;
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
	border-radius: 4px;
	height: 100%;
	}
	&__image {
		position: relative;
		padding: 0px 0px 60.245% 0px;
		margin-bottom: 16px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__content{
			display: flex;
			flex-direction: column;
			padding: 0px 16px 24px 16px;	
			height: 100%;
		& :nth-child(1) {
					margin-bottom: 16px;
				}
		& :nth-child(2) {
				margin-bottom: 32px;
			}
		@media (max-width: 1214.98px) {
		}
	}

	&__header {
			font-weight: 600;
			font-size: 20px;
			line-height: 125%;
	}

	&__text {
			line-height: 125%;
			flex: 1 1 auto;
	}
	&__price {
			font-weight: 600;
			font-size: 24px;
			line-height: 125%;
	}

	&__edit{
			translate: 25% 100%;
			background: #71adfc no-repeat center / 75% 75%  url("../assets/icons/edit.svg");
			}
		
	&__del{
			translate: 25% -25%;
			background: #FF8484 no-repeat center url("../assets/icons/delete.svg");
	}
}
