.form-control {
	padding: 24px;
	display: flex;
	flex-direction: column;
	max-width: 332px;
	background: #FFFEFB;
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
	border-radius: 4px;
	margin-top: 8px;
	&__label {
		font-size: 10px;
		line-height: 13px;
		letter-spacing: -0.02em;
		color: #49485E;
		margin-bottom: 4px;
	}

	&__label_required::after {
		content: "";
		display: inline-flex;
		width: 4px;
		height: 4px;
		left: 151px;
		top: 107px;
		background: #FF8484;
		border-radius: 4px;
		vertical-align: top;
	}

	&__item {
		background: #FFFEFB;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		margin-bottom: 16px;
		height: 36px;
		padding: 0px 16px;
		font-size: 12px;
		line-height: 125%;
	}

	&__item::placeholder {
		color: #B4B4B4;
		;
	}

	&__textarea {
		min-height: 108px;
		padding: 10px 10px;
		resize: none;
	}

	&__button {
		height: 36px;
		background: #EEEEEE;
		border-radius: 10px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.02em;
		color: #B4B4B4;
	}
}