.form {
	flex: 0 1 340px;
	min-width: 275px;
	padding-right: 8px;
	@media (max-width: 479.98px) {
		flex: 1 0 auto;
		padding: 0px;
	}
}
.form-control {
	padding: 24px;
	display: flex;
	flex-direction: column;
	background: $mainWhite;
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
	border-radius: 4px;
	&__label {
		font-size: 12px;
		line-height: 13px;
		letter-spacing: -0.02em;
		color: #49485e;
	}

	&__label_required::after {
		content: "";
		display: inline-flex;
		width: 4px;
		height: 4px;
		left: 151px;
		top: 107px;
		background: $mainRed;
		border-radius: 4px;
		vertical-align: top;
	}

	&__item {
		background: $mainWhite;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		height: 36px;
		padding: 0px 16px;
		font-size: 12px;
		line-height: 125%;
		margin-bottom: 16px;
		&::placeholder {
			color: $mainGrey;
		}
	}

	&__textarea {
		min-height: 108px;
		padding: 10px 10px;
		resize: none;
	}

	&__button {
		height: 36px;
		background: #eeeeee;
		border-radius: 10px;
		font-family: "Inter";
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.02em;
		color: $mainGrey;
	}

	&__button_valid {
		background-color: $mainGreen;
		color: $mainWhite;
	}

	&__row {
		display: flex;
		flex-direction: column;
		row-gap: 4px;
		position: relative;
	}
	&__row_required {
		> input {
			border: 1px solid $mainRed;
		}
		&:after {
			content: "Поле является обязательным";
			position: absolute;
			color: $mainRed;
			top: 80%;
			left: 0;
			font-size: 10px;
			line-height: 125%;
			letter-spacing: -0.02em;
		}
	}
}
