@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

$mainColor: #3F3F3F;
$fontFamily:'Source Sans Pro';
$fontSize: 16px;

.wrapper {
	min-height: 100%;
	overflow: hidden;
	}

.product {
	padding: 0px 0px 50px 0px;
	&__container{
			display: flex;
	@media (max-width: 679.98px) {
		justify-content: center;
			flex-wrap: wrap;
			row-gap: 30px;
		}
	}
	
}

[class*="__container"] {
	max-width: 1406px;
	margin: 0px auto;
	padding: 0px 15px;
}

@import './null.scss';
@import './header.scss';
@import './form.scss';
@import './cards.scss';
@import './loader.scss';
@import './transition.scss';