@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

$mainColor: #3F3F3F;
$mainGreen: #7BAE73;
$mainGrey:#B4B4B4;
$mainWhite: #FFFEFB;
$mainRed: #FF8484;
$mainBlue: #71adfc;
$fontFamily:'Source Sans Pro';
$fontSize: 16px;

.wrapper {
	min-height: 100%;
	overflow: hidden;
	}

.product {
	padding: 0px 0px 50px 0px;
	&__container{
			display: flex;
	@media (max-width: 679.98px) {
		justify-content: center;
			flex-wrap: wrap;
			row-gap: 30px;
		}
	}
	
}
.card-buttons {
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 32px;
	translate: 25% -25%;
	background: #FF8484 no-repeat center url("../assets/icons/delete.svg");
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	transition: all 0.3s ease 0s;
	&:hover {
		scale: 1.05;
	}
}
[class*="__container"] {
	max-width: 1406px;
	margin: 0px auto;
	padding: 0px 15px;
}

@import './null.scss';
@import './header.scss';
@import './form.scss';
@import './cards.scss';
@import './loader.scss';
@import './transition.scss';
@import './modal.scss';
@import './search.scss';
@import './select.scss';