.fade-popup-enter-active {
	transition:  all 0.5s ease-out;
}

.fade-popup-leave-active {
	transition:  all 0.5s ease-out 1s;
}

.fade-popup-enter-from,
.fade-popup-leave-to {
	transform: translateX(-105%);
	opacity: 0;
}
